@import "tailwindcss";

@theme {

  --color-background: #EDEDED;
  --color-primary: #737373;
  --color-secondary: #737373;
  --color-dark: #020617;
  --color-subtext: #06B6D4;
  --color-text: #020617;
  --color-darkBackground: #020617;
  --color-darktext: #EDEDED;
  
  /* Fonts */
  --font-rubik: "Rubik", sans-serif;
  --font-rubik-italic: "Rubik Italic", sans-serif;
  
  /* Animation */
  --animation-shimmer: shimmer 2s linear infinite;
  --animation-fadeIn: fadeIn 0.5s ease forwards;
  
  /* Keyframes */
  --keyframes-shimmer: {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  };
  
  @keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
  --keyframes-fadeIn: {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  };
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background);
    --color-text: var(--color-text);
    --font-rubik: "Rubik", sans-serif;
    --font-rubik-italic: "Rubik Italic", sans-serif;
  }
}

.dark {
  --color-background: var(--color-darkBackground);
  --color-text: var(--color-darktext);
  --color-primary: #06B6D4;


}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-rubik);
}

.italic-text {
  font-family: var(--font-rubik-italic);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-in-card {
  opacity: 0;
  animation: var(--animation-fadeIn);
}